    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800;900&family=Poppins:wght@200&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
    }

    .navbar a {
        margin: 20px;
        text-align: center;
        /* padding: 14px ; */
        font-size: 15px;
        color: white;
        align-items: center;
        justify-content: space-around;
    }

    .nav {
        display: flex;
        gap: 10px;
        align-items: center;

    }

    .TRAVEL {
        font-size: 10px;

    }

    .navbar {
        display: flex;
        color: white;
        justify-content: space-between;
        padding: 0px 0px 0px 70px;
        align-items: center;
        font-size: 10px;
    }

    .navbar ul {
        list-style: none;
        display: flex;
    }

    .navbar ul li a {
        text-decoration: none;
    }

    .navbar ul li a:hover {
        color: rgb(255, 170, 0);
    }

    .menu{
        display: none;
    }

    .search {
        height: 90px;
        width: 100px;
        text-align: center;
        justify-content: flex-end;
        background-color: rgb(255, 26, 79);
        color: white;
        border: none;
    }

    .main {
        background-color: rgb(0, 1, 40);
        width: 80%;
        height: 90px;
        justify-content: center;
        text-align: center;
        margin: 0px auto;
        position: fixed;
        right: 0px;
        left: 0px;
        top: 40px;
        z-index: 100;


    }

    .logo {
        color: white;
        font-size: 27px;
    }

    /* .image{
        height: 100%;
        width: 100%;
    } */
    .container {
        background-image: url("../Image/sean-pollock-PhYq704ffdA-unsplash.jpg");
        height: 1000px;
        /* background-size: contain; */
        /* background-repeat: no-repeat;  */
        background-size: cover;
        background-position: bottom;
        /* padding-top: 40px; */
        width: 100%;
        /* background-color: red; */
        font-family: 'Poppins', sans-serif;

    }



    .discover {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .front {
        position: relative;
        z-index: 1;
        color: white;
        font-size: 100px;

    }

    .back {
        position: absolute;
        top: 0px;
        bottom: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        color: rgba(255, 222, 155, .4);
        font-size: 300px;
        display: flex;
        font-family: 'Kanit', sans-serif;

    }

    .text {
        background-image: url(../Image/fern-m-lomibao-mMS2R1-V5YM-unsplash.jpg);
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: bottom;


    }

    .find {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: white;
        padding: 40px;

    }

    .total {
        display: flex;
        justify-content: center;
        color: white;
        align-items: flex-end;
        /* text-align: center; */
        gap: 20px;
        font-size: 20px;

    }


    #name {
        width: 250px;
        height: 30px;
        color: white;
        background-color: rgba(41, 41, 41, 0.2);
        border: 2px solid rgb(153, 153, 153);
        padding: 10px;

    }

    /* #name::placeholder{
        color: white;
    } */

    #mname {
        width: 150px;
        height: 30px;
        padding: 10px;
        background-color: rgba(41, 41, 41, 0.2);
        border: 2px solid rgb(153, 153, 153);
        color: white;
    }

    .button {

        text-align: center;
        background-color: rgb(255, 26, 79);
        border: none;
        color: white;
        width: 120px;
        font-size: 18px;
        height: 55px;
    }


    .dest {
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 37px;
        margin-top: 90px;

    }

    .look {
        justify-content: center;
        text-align: center;
        display: flex;
        margin: 20px 0px 90px 0px;
        /* top right bottom left */
        color: rgb(103, 103, 103);
        font-size: 20px;

    }

    .pic {
        height: 330px;
        width: 80%;
        background-size: cover;
        color: white;
        margin: 0px auto;
        display: flex;
        gap: 20px;


    }

    .from {
        height: 330px;
        width: 270px;
        display: flex;
        background-size: cover;
        background-position: bottom;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0px 0px 20px 25px;
    }

    #FIRST {
        background-image: url(../Image/top_1.webp);
    }

    #SECOND {
        background-image: url(../Image/top_2.webp);
    }

    #THIRD {
        background-image: url(../Image/top_3.webp);
    }

    #FOURTH {
        background-image: url(../Image/top_4.webp);
    }

    .place {
        font-size: 22px;
    }

    .cost {
        font-size: 15px;
    }

    .sea {
        margin-top: 120px;
        background-image: url(../Image/mohamed-thasneem-AOFlegU1eTs-unsplash.jpg);
        height: 600px;
        background-position: bottom;
        background-size: cover;
        display: flex;
        /* justify-content: center; */
    }

    .boxs {
        display: flex;
        color: white;
        gap: 200px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0px auto;
    }


    .box {
        background-color: rgba(255, 26, 79, 0.8);
        /* background-color: rgba(206, 1, 1, 0.9); */

        height: 350px;
        width: 27.5%;
        text-align: left;
        padding: 40px;

    }


    .PLACE {
        font-size: 18px;
        text-align: left;
        margin-left: 60px;

    }

    .percent {
        font-size: 150px;
        text-align: left;
        text-align: center;
        /* background-color: aqua; */
        margin: -50px 0px -50px 0px;

    }

    .last {
        font-size: 35px;
        text-align: center;

    }

    .lorem {
        text-align: center;
        font-size: 15px;
    }

    .offer {
        background-color: black;
        color: white;
        border: none;
        height: 40px;
        width: 120px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 12px;
    }

    .hij {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .destinations {
        text-align: center;
    }

    .popular {
        font-size: 37px;
        margin-top: 90px;
    }

    .take {
        margin: 20px 0px 90px 0px;
        /* top right bottom left */
        color: rgb(103, 103, 103);
        font-size: 20px;
    }

    .eight{
        /* height: 220px; */
        /* background-color: red; */
        width: 80%;
        background-size: cover;
        color: white;
        margin: 0px auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        /* flex-wrap: wrap; */
        gap: 30px;

    }


    .PIC {
        /* flex: 1; */
        height: 175px;
        width: 100%;
        color: white;
        /* margin:0px auto; */
        display: flex;
        background-size: cover;
        background-position: bottom;
        flex-direction: column;
        justify-content: flex-end;
        /* padding: 0px 0px 20px 25px; */

    }

    .PIC .abc {
        padding: 20px 25px;
    }

    .pp {
        font-size: 15px;

    }

    .area {

        font-size: 22px;
    }

    #one {
        background-image: url(../Image/popular_1.webp);
    }

    #two {
        background-image: url(../Image/popular_2.webp);
    }

    #three {
        background-image: url(../Image/popular_3.webp);
    }

    #four {
        background-image: url(../Image/popular_4.webp);
    }

    #five {
        background-image: url(../Image/popular_5.webp);
    }

    #six {
        background-image: url(../Image/popular_6.webp);
    }

    #seven {
        background-image: url(../Image/popular_7.webp);
    }

    #eight {
        background-image: url(../Image/popular_8.webp);
    }

    .spec {
        text-align: center;
    }

    .special {
        font-size: 37px;
        margin-top: 90px;
    }

    .off {
        margin: 20px 0px 90px 0px;
        /* top right bottom left */
        color: rgb(103, 103, 103);
        font-size: 20px;
    }

    .video {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .saab {
        position: absolute;
        top: 10%;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 0px auto;
        width: fit-content;
        justify-content: center;
        text-align: center;

    }

    .day {
        position: relative;
        font-size: 40px;
    }

    .org {
        position: relative;
        font-size: 15px;
    }

    .scroll {
        height: 550px;
        width: 100%;
        background-size: cover;
        color: white;
        /* margin:0px auto; */
        display: flex;
        gap: 8px;

    }

    .aa {
        height: 500px;
        width: 300px;
        color: rgb(255, 255, 255);
        margin: 0px auto;
        display: flex;
        background-size: cover;
        background-position: bottom;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0px 0px 20px 25px;
        font-weight: 100;
        padding-bottom: 40px;
    }

    #first {
        background-image: url(../Image/bali.jpg);
    }

    #second {
        background-image: url(../Image/france.jpg);
    }

    #third {
        background-image: url(../Image/indonesia.jpg);
    }

    #fourth {
        background-image: url(../Image/india.jpg);
    }

    #fifth {
        background-image: url(../Image/thailand.jpg);
    }

    .visit {
        font-size: 25px;
    }

    .country {
        font-size: 35px;
    }



    .new {
        background-image: url(../Image/les-argonautes-Pp1ijectYT0-unsplash.jpg);
        background-position: bottom;
        background-size: cover;
        height: 450px;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

    .our {
        font-size: 40px;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 150px;
    }

    #email {
        /* margin: 40px; */
        height: 50px;
        width: 800px;
        border: 2px solid rgb(131, 131, 131);
        background-color: rgba(95, 95, 95, 0);
        color: white;
        padding-left: 40px;

    }


    #email::placeholder {
        color: rgb(198, 198, 198);
        padding: 5px;
        font-size: 15px;
        font-style: italic;
    }

    .subs {
        margin: 40px 0px 0px 5px;
        background-color: rgb(255, 26, 79);
        font-size: 18px;
        color: white;
        border: none;
        height: 60px;
        width: 160px;

    }

    .laast {
        background-color: rgb(0, 12, 27);
        height: 300px;
        padding: 70px 150px 70px 150px;
        display: flex;
        gap: 30px;
    }

    .haha {
        height: 300px;
        width: 400px;
        color: rgb(129, 129, 129);
    }

    .lefttop {
        width: 150px;
        text-align: center;
    }

    .desti {
        color: white;
        font-size: 27px;
    }

    .agency {
        font-size: 10px;
    }

    .leftlorem {
        font-size: 13px;
        /* background-color: aqua; */
        padding-top: 30px;
    }

    .copyright {
        padding-top: 30px;
        font-size: 13px;
    }

    .latest {
        height: 300px;
        width: 400px;
    }

    .NEWS {
        font-size: 25px;
        color: white;
        height: 60px;
        /* background-color: aqua; */

    }

    .suruko{
        display: flex;
        gap: 20px;
        /* background-color: red; */
    }

    .suruko img{
        height: 65px;
        width: 65px;
    }

    .secondko{
        display: flex;
        gap: 20px;
    }

    .secondko img{
        height: 65px;
        width: 65px;
    }

    .duita {
        width: 260px;
        height: 160px;
        color: rgb(129, 129, 129);
        padding-top: 15px;
        text-align: justify;
        justify-content: right
    }

    .time {
        font-size: 18px;
    }

    .date {
        font-size: 13px;
        color: red;
    }

    .phuto{
       /* padding-left: 85px; */
       height: 80px;
       /* background-color: antiquewhite; */
    }

    .right {
        height: 300px;
        width: 400px;
    }
    
    .tag {
        font-size: 25px;
        color: white;
    }


    .buttons {
        height: 35px;
        width: 100px;
        margin-top: 10px;
        /* padding:20px 30px 20px 30px; */
        border: none;
        background-color: rgb(255, 26, 79);
        color: white;
        font-size: 15px;
        /* justify-content: space-between; */
    }

    .keke {
        padding-top: 30px;
    }



    /* responsive */
    @media (max-width:420px){
        .navbar {
            padding: 8px 0px 0px 18px;
        }

    
        .nav {
            display: none;
    
        }
        .container {
            height: 500px;
           
        }
    
        .front {
            font-size: 30px;
    
        }
    
        .back {
            font-size: 67px;
        }

        .main {
            width: 90%;
            height: 50px;
            top: 20px;
        }

        .logo {
            font-size: 16px;
        }

        .TRAVEL {
            font-size: 5px;
    
        }

        .text{
        height: 500px;
        }

        .find{
        font-size: 20px;
        padding: 40px;
        text-align: center;
        }

        .total {
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #name {
            width: 280px;
            height: 20px;
            padding: 5px;
    
        }

        #mname {
            width: 280px;
            height: 20px;
            padding: 5px;
        }

        .fillbutton{
            width: 86%;
        }

        .button {
            width: 80px;
            font-size: 10px;
            height: 25px;
           
        }

        .menu{
            display: flex;
            padding-right: 15px;
        }

        .dest {
            font-size: 20px;
    
        }
    
        .look {
            font-size: 10px;
        }

        .pic{
            flex-direction: column;
            height: 1500px;
            align-items: center;
        }

        .from {
            height: 330px;
            width: 105%;
            padding: 0px 0px 20px 20px;
        }

        .sea {
            
            margin-top: 50px;
            height: 900px;

        }
    
        .boxs {
           flex-direction: column; 
           width: 90%;
           gap: 40px;
           
        }
    
    
        .box {
            background-color: rgba(255, 26, 79, 0.7);
            height: 300px;
            width: 73.5%;
        }
    
        .PLACE {
            font-size: 15px;
            text-align: left;
            margin-left: 80px;
    
        }
    
        .percent {
            height: 100px;
            font-size: 80px;
            margin: 0;
    
        }
    
        .last {
            font-size: 23px;
          
    
        }
    
        .lorem {
            text-align: center;
            font-size: 10px;
        }
    
        .offer {
            height: 35px;
            width: 100px;
            padding: 0px;
        }
    
        #video{
            height: 300px;
            background-color: rgba(129, 84, 0,0.4);
        }
       
        .saab {   
            top: 18%;
        }
    
        .day {
            font-size: 20px;
        }
    
        .org {
            font-size: 8px;
        }
        
        .popular{
            font-size: 20px;
    
        }
    
        .take{
            font-size: 10px;
        }
        
        .eight{ 
            height: 1950px;
            width: 90%;
            display: flex;
            flex-direction: column;
        }
        
        .PIC {
            height: 220px;
            

        }
    
        .PIC .abc {
            padding: 20px 25px;
        }

        .special{
            font-size: 20px;
    
        }
    
        .off{
            font-size: 10px;
        }

        
        .scroll {
            height: 1690px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    
        .aa {
            height: 300px;
            width: 90%;
            align-items: center;
            padding: 0px;
            padding-bottom: 30px;
        }
    
        .visit{
            font-size: 20px;
        }

        .country{
            font-size: 25px;
        }
    
        .new {
            width: 100%;
            height: 450px;
    
        }
    
        .our {
            font-size: 28px;
            padding: 60px 0px 40px 0px;
        }

        #email {
            height: 50px;
            width: 90%;
           padding: 0px;
           border: 2px solid rgb(234, 234, 234);
        }
    
    
        #email::placeholder {
            padding: 5px;
            font-size: 15px;
        }
    
        .subs {
            margin: 50px 0px 0px 5px;
            font-size: 15px;
            height: 50px;
            width: 130px;
    
        }

        .laast {
            height: 900px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            padding: 0px 15px 0px 15px ;
        }
    
        .haha {
            height: 280px;
            width: 100%;
        }
    
        .right {
            height: 300px;
            width: 400px;
        }
    
        .lefttop {
            margin-top: 30px;
            margin-bottom: 20px;
            width: 80px;
        }
    
        .desti {
            font-size: 20px;
        }
    
        .agency {
            font-size: 8px;
        }
    
        .leftlorem {
            font-size: 12px;
            width: 100%;
            padding: 0px;
        }
    
        .copyright {
            font-size: 12px;
        }

        .latest {
            /* background-color: aqua; */
            height: 250px;
            width: 100%;
        }
    
        .NEWS {
            font-size: 25px;
            height: 50px;
            /* background-color:aquamarine; */
    
        }

        .time {
            font-size: 18px;
        }
    
        .date {
            font-size: 12px;
          
        }
    
        .right {
            height: 250px;
            width: 100%;
        }
        
        .tag {
            font-size: 25px;
        }
    
    
        .buttons {
            height: 35px;
            width: 99px;
            font-size: 13px;
        }
    
        .keke {
            padding-top: 30px;
        }

    };