@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800;900&family=Poppins:wght@200&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

.navbar a {
    margin: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.nav {
    display: flex;
    gap: 10px;
    align-items: center;

}

.TRAVEL {
    font-size: 10px;

}

.navbar {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0px 0px 0px 70px;
    align-items: center;
    font-size: 10px;
}



.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(255, 170, 0);
}

.search {
    height: 90px;
    width: 100px;
    text-align: center;
    justify-content: flex-end;
    background-color: rgb(255, 26, 79);
    color: white;
    border: none;
}

.main {
    background-color: rgb(0, 1, 40);
    width: 80%;
    height: 90px;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 40px;
    z-index: 100;


}

.logo {
    color: white;
    font-size: 27px;
}

.container {
    background-image: url(../Image/fol.jpg);
    height: 650px;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
        color: white;
        margin: 0px auto;
        display: flex;

}

.about{
    color: white;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding-left: 150px;
}

.mathi{
    font-size: 60px;
}

.tala{
    font-size: 20px;
}

.text {
    background-image: url(../Image/blurr.jpg);
    height: 280px;
    width: 90%;
    background-size: cover;
    background-position: bottom ;
    justify-content: center;
    margin: 0px auto;
    margin-top: -130px;
}

.find {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    padding: 40px;

}

.total {
    display: flex;
    justify-content: center;
    color: white;
    align-items: flex-end;
    /* text-align: center; */
    gap: 20px;
    font-size: 20px;

}


#name {
    width: 250px;
    height: 30px;
    color: white;
    background-color: rgba(41, 41, 41, 0.2);
    border: 2px solid rgb(153, 153, 153);
    padding: 10px;

}

/* #name::placeholder{
    color: white;
} */

#mname {
    width: 150px;
    height: 30px;
    padding: 10px;
    background-color: rgba(41, 41, 41, 0.2);
    border: 2px solid rgb(153, 153, 153);
    color: white;
}

.button {

    text-align: center;
    background-color: rgb(255, 26, 79);
    border: none;
    color: white;
    width: 120px;
    font-size: 18px;
    height: 55px;
}

.award {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 37px;
    margin-top: 90px;

}

.story {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 20px 0px 90px 0px;
    /* top right bottom left */
    color: rgb(103, 103, 103);
    font-size: 20px;

}

.boxes{
    width: 80%;
    height: 100px;
    margin: 0px auto;
    display: flex;
    gap: 200px;
    /* background-color: aliceblue; */
}

.left{
    /* background-color: aliceblue; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#in{
    height: 30px;
    width: 130px;
    padding-left: 10px;
    border: 2px solid rgb(192, 190, 190);
}

.xx{
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    font-size: 12px;
    color: rgb(144, 144, 144);
    width: 50%;
    height: 30px;
    text-align: center;
    align-items: center;
    
}

.icons{
    display: flex;
    color: black;
    gap: 35px;
}

.menu:hover{
    color: red;
}

.fourbox:hover{
    color: red;
}

.four{
    height: 1300px;
    width: 80%;
    /* background-color: aqua; */
    margin: 0px auto;

}

.dtls{
    display: flex;
    gap: 30px;
    /* background-color: aqua; */
}

.dtls img{
    height: 300px;
    width: 220px;
    
}

.from{
    font-size: 13px;
   font-weight: bolder;
}

.country{
    font-size: 20px;
    font-weight: bolder;
}

.details{
    font-size: 13px;
    padding: 10px 0px 10px 0px;
    color: rgb(144, 144, 144);
}


.lorem{
    color: rgb(109, 109, 109);

}

.btn{
    margin-top: 30px;
    font-size: 13px;
    color: rgb(27, 27, 27);
}

.btn:hover{
    color: red;
    cursor: pointer;
}

.new {
    background-image: url(../Image/les-argonautes-Pp1ijectYT0-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    height: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.our {
    font-size: 40px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

#email {
    /* margin: 40px; */
    height: 50px;
    width: 800px;
    border: 2px solid rgb(131, 131, 131);
    background-color: rgba(95, 95, 95, 0);
    color: white;
    padding-left: 40px;

}


#email::placeholder {
    color: rgb(198, 198, 198);
    padding: 5px;
    font-size: 15px;
    font-style: italic;
}

.subs {
    margin: 40px 0px 0px 5px;
    background-color: rgb(255, 26, 79);
    font-size: 18px;
    color: white;
    border: none;
    height: 60px;
    width: 160px;

}

.laast {
    background-color: rgb(0, 12, 27);
    height: 300px;
    padding: 70px 150px 70px 150px;
    display: flex;
    gap: 30px;
}

.haha {
    height: 300px;
    width: 400px;
    color: rgb(129, 129, 129);
}

.right {
    height: 300px;
    width: 400px;
}

.lefttop {
    width: 150px;
    text-align: center;
}

.desti {
    color: white;
    font-size: 27px;
}

.agency {
    font-size: 10px;
}

.leftlorem {
    font-size: 13px;
    /* background-color: aqua; */
    padding-top: 30px;
}

.copyright {
    padding-top: 30px;
    font-size: 13px;
}

.latest {
    height: 300px;
    width: 400px;
}

.NEWS {
    font-size: 25px;
    color: white;
    height: 60px;
    /* background-color: aqua; */

}

.suruko{
    display: flex;
    gap: 20px;
    /* background-color: red; */
}

.suruko img{
    height: 65px;
    width: 65px;
}

.secondko{
    display: flex;
    gap: 20px;
}

.secondko img{
    height: 65px;
    width: 65px;
}

.duita {
    width: 260px;
    height: 160px;
    color: rgb(129, 129, 129);
    padding-top: 15px;
    text-align: justify;
    justify-content: right
}

.time {
    font-size: 18px;
}

.date {
    font-size: 13px;
    color: red;
}

.phuto{
   height: 80px;
   /* background-color: antiquewhite; */
}

.tag {
    font-size: 25px;
    color: white;
}


.buttons {
    height: 35px;
    width: 100px;
    margin-top: 10px;
    border: none;
    background-color: rgb(255, 26, 79);
    color: white;
    font-size: 15px;
}

.keke {
    padding-top: 30px;
}